
html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
}


.heading {
    color: $color-secondary-blue;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 2.5rem;

    &--secondary {
        font-size: 3.2rem;
    }

    &--tertiary {
        font-size: 2rem;
    }
}


.text {
    color: $color-secondary-gray;
    line-height: 1.6;

}

svg {
    fill: currentColor;
}
