
html {
    font-size: 62.5%; // 1rem = 10px

    
    
    

    @include respond(big-desktop) {
        font-size: 75%; // 1rem 12px
    }

    
    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px
    }
    
}

body {
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
}


.heading {
    color: $color-secondary-blue;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 2.5rem;

    @include respond(tab-land) {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    &--secondary {
        font-size: 3.2rem;

        @include respond(tab-land) {
            font-size: 2.6rem;
        }
    }

    &--tertiary {
        font-size: 2rem;

        @include respond(tab-land) {
        
        }
    }
}


.text {
    color: $color-secondary-gray;
    line-height: 1.6;

    @include respond(tab-land) {
        font-size: 1.5rem;
    }

}

svg {
    fill: currentColor;
}
