
$color-primary-blue: hsl(231, 69%, 60%);
$color-primary-red: hsl(0, 94%, 66%);

$color-secondary-gray:  hsl(229, 8%, 60%);
$color-secondary-blue: hsl(229, 31%, 21%);

$color-white: white;
$color-black: rgba(0,0,0, 1);

$transition-small: all .2s;
$box-shadow-light: 0 .5rem 1rem rgba($color-secondary-gray, .4);

$font-main:  'Rubik', sans-serif;