body {
    // padding: 0 25rem;
    width: 100vw;
    overflow-x: hidden;
    .body__container {
        max-width: 120rem;
        margin: 0 auto;

        @include respond(tab-land) {
            max-width: 80rem;
        }
        
    }
}