


.hero__background {
    height: 400px;
    width: 40vw;
    position: absolute;
    z-index: -1;
    right: 0px;
    top: 33rem;
    overflow: hidden;

     .circle {
        width: 360px;
        height: 360px;
        background-color: hsl(231, 69%, 60%);
        display: block;
        border-radius: 50%;
        position: absolute;

        @include respond(tab-land) {
          width: 200px;
          height: 200px;
        }
      }
      .rectangle {
        width: 8000px;
        height: 360px;
        background-color: hsl(231, 69%, 60%);
        position: absolute;
        left: 180px;

        @include respond(tab-land) {
          width: 8000px;
          height: 200px;
          left: 100px;
        }
      }

      @include respond(tab-land) {
        height: 200px;
        width: 38vw;
        right: 0px;
        top: 31rem;
      }

      @include respond(tab-port) {
        width: 50vw;
        top: 35rem;
      }

      @include respond(phone) {
        width: 75vw;
        top: 22rem;
      }
}



.features__background {
        height: 300px;
        width: 30vw;
        position: absolute;
        z-index: -1;
        top: 50rem;
        left: 0rem;
        // transform: rotate(180deg);
        

        @include respond(tab-land) {
          height: 300px;
          top: 40rem;
          left: 0rem;
          width: 30rem;
        }

        @include respond(big-desktop) {
          top: 50rem;
          width: 45rem;
        }

        @include respond(tab-port) {
          top: 52rem;
          width: 50vw; 
        }

        @include respond(phone) {
          top: 40rem;
          width: 80vw; 
        }

        .circle {
            width: 300px;
            height: 300px;
            background-color: hsl(231, 69%, 60%);
            display: block;
            border-radius: 50%;
            position: absolute;


            @include respond(tab-land) {
              width: 200px;
              height: 200px;
            }
            @include respond(tab-port) {
                
            }
          }
          .rectangle {
            width: 2000px;
            height: 300px;
            background-color: hsl(231, 69%, 60%);
            position: absolute;
            left: 150px;

            @include respond(tab-land) {
              left: 100px;
              height: 200px;
            }

            @include respond(tab-port) {
                
            }
          }
}