


.slides {

    position: relative;
    overflow: hidden;
    max-width: 110rem;
    margin: 0 auto;

    @include respond(tab-port) {
        // overflow: visible;
    }
    .slide {
        &__control {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            margin-bottom: 6rem;

            @include respond(tab-port) {
                flex-direction: column;
                width: 35rem;
                margin: 0 auto;
                margin-bottom: 6rem;
            }

            #ctrl-1 {
                @include respond(phone) {
                    border-top: 1px solid rgba($color-secondary-gray, .6);
                }
            }
        }

        &__ctrl {
            border: none;
            background-color: $color-white;
            color: rgba($color-black, .7);
            padding: 3rem 5rem;
            font-size: 1.8rem;
            border-bottom: 1px solid rgba($color-secondary-gray, .6);
            font-weight: 500;
            letter-spacing: 1px;
            transition: color .2s;

            &:hover {
                color: $color-primary-red;
                outline: none;
            }

            &:active,
            &:focus {
                outline: none;

            }
        }

        
            
    
    }


    &__container {
        height: 45rem;
        margin: 0 auto;
        text-align: center;
        @include respond(tab-land) {
            margin: 0 5rem;
        }

        @include respond(tab-port) {
            height: 65rem;
        }

        .slide {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            
            @include respond(tab-land) {
                justify-content: space-around; 
                width: 100%; 
            }
            @include respond(tab-port) {
                 flex-direction: column;
                 text-align: center;
            }
            
            .btn--info {
                @include respond(phone) {
                    display: none;
                }
            }

            &__ill {
                img {
                    width: 100%;
                    height: auto;
                }

                @include respond(tab-land) {
                    max-width: 45rem;
                }
            }   

            &__content {
                width: 40%; 

                @include respond(tab-port) {
                    margin-top: 6rem;
                }

                @include respond(tab-land) {
                    width: 60%;
                    max-width: 100%;
                }

                @include respond(phone) {
                    margin-top: 10rem;
                    width: 80%;
                }

                .heading--secondary {
                    @include respond(phone) {
                        font-size: 3rem;
                    }
                }

                .slide__text {
                    margin-bottom: 3rem;
                }
            }
        }

        #slide-1 {
            left: 0%;

        }
        #slide-2 {
            left: 100%;

        }
        #slide-3 {
            left: 200%;

        }



    }

    .active {
        border-bottom: 4px solid $color-primary-red;
    }

}


