


.slides {

    position: relative;
    overflow: hidden;
    max-width: 110rem;
    margin: 0 auto;

    .slide {
        &__control {
            display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        margin-bottom: 6rem;
        }
        

        &__ctrl {
            border: none;
            background-color: $color-white;
            color: rgba($color-black, .7);
            padding: 3rem 5rem;
            font-size: 1.8rem;
            border-bottom: 1px solid rgba($color-secondary-gray, .6);
            font-weight: 500;
            letter-spacing: 1px;
            transition: color .2s;

            &:hover {
                color: $color-primary-red;
                outline: none;
            }

            &:active,
            &:focus {
                outline: none;

            }
        }
    }

    &__container {
        height: 45rem;
        margin: 0 auto;

        @include respond(tab-land) {
            margin: 0 5rem;
        }
        .slide {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            position: absolute;

            @include respond(tab-land) {
                justify-content: space-around;
                
            }

            &__ill {
                img {
                    width: 100%;
                }

                @include respond(tab-land) {
                    width: 45rem;
                }
            }   

            &__content {
                width: 40%; 

                @include respond(tab-land) {
                    width: 35%;
                }

                .slide__text {
                    margin-bottom: 3rem;
                }
            }
        }

        #slide-1 {
            left: 0%;
        }
        #slide-2 {
            left: 100%;
        }
        #slide-3 {
            left: 200%;
        }



    }

    .active {
        border-bottom: 4px solid $color-primary-red;
    }

}