

.features {
    
    margin-bottom: 10rem;
    position: relative;


    @include respond(phone) {
        margin-bottom: 5rem;
    }

    &__desc {
        width: 42%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 8rem;

        @include respond(phone) {
            width: 80%;
            margin-bottom: 2rem;
        }
        

    }

    &__background {
        position: absolute;
        z-index: -1;
        transform: rotate(180deg);
        height: 500px;
        width: 45%;
        left: -1rem;
        bottom: -75rem;
    }


}