

.footer {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    background-color: $color-secondary-blue;

    @include respond(phone) {
        flex-direction: column;
    }

    &__content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        @include respond(phone) {
            flex-direction: column;
        }

    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
      }
      

    .logo {
        margin-right: 5rem;
        @include respond(phone) {
            margin: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__nav {

        .nav__link {
            color: white;
            font-size: 1.3rem;
            font-weight: 400;
        }

        .nav__nav {
            @include respond(phone) {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0em;
                margin-bottom: 2rem;
            }
        }

        .nav__link {
            font-size: 1.6rem;
        }
        
    }

    .social {

        &__link {
            display: inline-block;
            margin-right: 4rem;
            color: $color-white;
            transition: all .2s;

            @include respond(phone) {
                margin: 0;
                padding: 2rem;
               
            }
            &:hover {
                color: $color-primary-red;
            }

        }

    }
 

}


