

.header {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin-top: 5rem;

    @include respond(tab-land) {
        max-width: 80rem;
        margin: 0 auto;
        margin-top: 50px;
    }

    @include respond(tab-port) {
        
        margin: 0 5rem;
        margin-top: 5rem;
    }

    .logo {
        justify-self: flex-start;
        

        img {
            @include respond(tab-land) {
            width: 85%;
            height: auto;
        }
        }
        
    }

    &__burger {
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

}



